/* enable fields placeholder */
.placeholder::after { 
  content: attr(data-placeholder);
  position: absolute;
  top: 0;
}

form {
  width: 65%;
  margin: 0 auto;
  font-family: sans-serif;
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 1.5em;
  font-style: italic;
}

.field { 
  border: none; 
  outline: none;
}

.field p {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
}

.field figure {
  display: block;
  margin: 1em 0;
  padding: 0;
  line-height: 0;
}

.field figure img {
  width: 100%;
}

.field figure.preview img {
  opacity: 0.5;
}

#insert-component {
  margin: 0 0 1em 0;
}

#insert-component button {
  line-height: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: .5em;
  background: transparent;
  margin: 0 1em 0 0;
  cursor: pointer;
  outline: none;
}

#edition-component button {
  outline: none;
  line-height: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: .5em;
  background: white;
  margin: 0;
  cursor: pointer;
  outline: none;
}

#edition-component button:hover, #insert-component button:hover {
  background: black;
  color: white;
}

#edition-component button.active {
  font-weight: bold;
}

#edition-component:after {
  content: '';
  position: absolute;
  border-color: black transparent transparent transparent;
  border-width: .25em .25em 0 .25em;
  border-style: solid;
  bottom: -.25em;
  left: 50%;
  margin-left: -.25em;
}

.invalid { color: red; }
.require { color: orange; }
